@import "../node_modules/bootstrap/scss/bootstrap";

$redish: rgb(196, 22, 22);
$time: 0.3s;
$gray0: #fdfdfd;
$gray1: #eee;
$gray3: #999;
$gray4: #333;
$gray5: #111;
$paddMenu: 10px;
$paddMain: 15%;
$menuOffset: 50px;
$menuFontSize: 1.3em;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

.App {
  background-color: $gray1;
  font-family: Armata, sans-serif;
  height: 100%;
}

header {
  z-index: 99;
  background-color: $gray0;
  width: 100%;
  height: $menuOffset;
  padding: $paddMenu $paddMain;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
  position: fixed;
  font-size: $menuFontSize;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  .header-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  #header-name {
    border-bottom: 2px solid transparent;
  }

  #right-menu {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: #0a60a1;
      padding: 10px 0.5em;
      transition: $time color, text-shadow;
    }

    a:hover {
      color: $gray5;
      border-bottom: 2px solid $gray3;
      transition: $time;
      text-shadow: 1px 1px #eee;
    }
  }
}

.section-title {
  font-family: Armata, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.7);
  padding: 2em 0em;
}

.white {
  color: white !important;
}

#about {
  padding-top: $menuOffset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0073c9 0%, #60b0a7 100%);

  .about-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    max-width: 800px;

    .about-left {
      width: 33%;

      .about-pic-section {
        display: flex;
        flex-direction: column;

        #dev-img {
          border-radius: 33%;
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
          border: 2px solid rgba(0, 0, 0, 0.2);
          width: 70%;
          max-width: 200px;
        }

        .about-links-section {
          width: 75%;
          display: grid;
          padding: 5% 10%;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10%;
          opacity: 0.9;
          img {
            position: absolute;
            width: 6%;
            max-width: 55px;
            height: 6%;
            max-height: 55px;
            transition: $time;
          }
          img:hover {
            width: 7%;
            max-width: 60px;
            height: 7%;
            max-height: 60px;
            transition: $time;
          }
        }
      }
    }
    .about-right {
      width: 66%;
      text-align: justify;
      color: white;
    }
  }
}

#about,
#portfolio,
#contact {
  padding: 10%;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#contact {
  background-color: azure;
  justify-content: center;
  .logos-contact {
    padding-top: 160px;
    display: flex;
    width: 100%;
    justify-content: center;
    position:absolute;
    filter: invert(49%) sepia(33%) saturate(2282%) hue-rotate(172deg) brightness(86%) contrast(115%);
    img {
      padding: 20px;
      width: 100px;
      height: 100px;
      transition: $time;
    }
    img:hover {
      width: 105px;
      height: 105px;
    }


  }
}
footer {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.02);

  a {
    text-decoration: none;
    color: $gray4;
  }
}
