.card {
    box-sizing: border-box;
    border-radius:10px;
    border:none;
    box-shadow: 5px 5px 15px 0px rgba(66, 68, 90, 0.1);
}

.project-photo {
    height:12em;
    img {
        border-radius: 10px 10px 0px 0px;
        width:100%;
        object-fit:cover;

    }
}

.project-hero {
    padding:1em;
    background-color:white;
    border-radius: 0px 0px 10px 10px;

    .project-title {
        font-weight:900;
        font-size:110%;
        margin-bottom:0.5em;
    }
    .project-description {
        font-size:80%;
        margin-bottom:0.5em;
    }
    .project-techs{
        display:flex;
        flex-flow:row;
        justify-content:space-around;
    }
    .project-links{
        display:flex;
        flex-flow:row;
        justify-content:space-around;
    }
    
}