.card {
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 15px 0px rgba(66, 68, 90, 0.1);
  user-select: none;
  height:450px;
}

.project-photo {
  height: 12em;
  img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }
}

.project-hero {
  padding: 1em;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-flow: column;
  height: 100%;

  .project-title {
    font-weight: 900;
    font-size: 110%;
    margin-bottom: 0.5em;
  }
  .project-description {
    font-size: 80%;
    margin-bottom: 1em;
  }
  .project-techs {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    li {
      list-style: none;
      font-size: 80%;
      border: 1px solid rgb(200, 200, 200);
      padding: 2px 5px;
      border-radius: 6px;
      color: rgb(150, 150, 150);
      user-select: none;
    }
  }
  .project-footer {
    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-end;
    height:100%;
    .horizontal-bar {
      margin:12px 0px;
      border-bottom: 1px solid rgb(206, 206, 206);
    }
    .project-links {
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        img {
          opacity: 0.4;
          transition: opacity 0.5s;
        }

        img:hover {
          opacity: 0.8;
          transition: opacity 0.5s;
        }
      }
    }
  }
}
