@import "../node_modules/bootstrap/scss/bootstrap";

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px
) !default;

#port-flex {
  background-color: rgb(253, 253, 253);
  border-radius: 20px;
  margin: 20px 0px;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  max-width: 800px;
  flex-flow: column;
  align-items: center;
  user-select: none;

  #tags-text {
    margin: 10px 0px 15px 0px;
    opacity: 0.7;
    font-size: 1.1em;
  }
  #tags {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .tag {
      border: 1px solid rgb(0, 207, 207);
      padding: 10px 20px;
      margin: 8px 0px;
      background-color: azure;
      border-radius: 5px;
      color: rgb(0, 161, 161);
      transition: filter 0.5s;
    }
    .tag:hover {
      filter: saturate(200%);
      transition: filter 0.5s;
    }
    .selected {
      filter: saturate(500%);
      color: rgb(0, 77, 77);
    }
    .reset {
      margin: 10px 0px;
      width: 100%;
      border: none;
    }
  }
}

#port {
  max-width: 800px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

@media(min-width: 769px) and (max-width: 1024px) {
  #port {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}


@media(max-width: 768px){
  #port {
    grid-template-columns: 1fr;
    gap:10px;
  }
}


